<div class="ds-card" id="parl_boundary_changes">
    <div class="ds-card-body">
        {% if parl_boundary_changes.CHANGE_TYPE ==  "BOUNDARY_CHANGE" %}
            <h2 class="ds-h4">Your constituency is changing</h2>
            <p>Your constituency,
                <em>{{ parl_boundary_changes.current_constituencies_name }}</em>, has changed shape since the last
                parliamentary election.
            </p>
            <p>
                A new set of constituencies will be used for the 2024 UK general election. This is happening to take
                account of changes in population. Learn more about these changes on the
                <a href="https://www.parliament.uk/about/how/elections-and-voting/constituencies/">UK Parliament
                    website</a>.
            </p>
        {% endif %}
        {% if parl_boundary_changes.CHANGE_TYPE ==  "NAME_CHANGE_BOUNDARY_CHANGE" %}
            <h2 class="ds-h4">You have a new constituency</h2>
            <p>At the last parliamentary election your constituency was
                <em>{{ parl_boundary_changes.current_constituencies_name }}</em>.
                On 4 July, your constituency will be <em>{{ parl_boundary_changes.new_constituencies_name }}</em>
            </p>
            <p>
                A new set of constituencies will be used for the 2024 UK general election. This is happening to take
                account of changes in population. Learn more about these changes on the
                <a href="https://www.parliament.uk/about/how/elections-and-voting/constituencies/">UK Parliament
                    website</a>.
            </p>
        {% endif %}
        {% if parl_boundary_changes.CHANGE_TYPE ==  "NAME_CHANGE" %}
            <h2 class="ds-h4">Your constituency has changed name</h2>
            <p>
                At the last parliamentary election your constituency was
                <em>{{ parl_boundary_changes.current_constituencies_name }}</em>.
                It has been renamed <em>{{ parl_boundary_changes.new_constituencies_name }}</em>. This does not affect
                the boundaries.
            </p>
            <p>
                A new set of constituencies will be used for the 2024 UK general election. This is happening to take
                account of changes in population, but not all constituencies are affected. Learn more about these
                changes on the <a href="https://www.parliament.uk/about/how/elections-and-voting/constituencies/">UK
                    Parliament website</a>.

            </p>
        {% endif %}
        {% if parl_boundary_changes.CHANGE_TYPE ==  "NO_CHANGE" %}
            <h2 class="ds-h4">Your constituency has not changed</h2>
            <p>Your constituency is the same since the last parliamentary election.</p>
            <p>
                A new set of constituencies will be used for the 2024 UK general election. This is happening to take
                account of changes in population, but not all constituencies are affected. Learn more about these
                changes on the <a href="https://www.parliament.uk/about/how/elections-and-voting/constituencies/">UK
                    Parliament website</a>.
            </p>
        {% endif %}

    </div>
    {% if parl_boundary_changes.CHANGE_TYPE !=  "NO_CHANGE" %}
        <style>
            .map-key {
                margin: 0 1.95312rem;
            }

            .map-key span::before {
                content: "";
                display: inline-block;
                height: 1em;
                width: 1em;
                border: none;
                margin: 0 0.1em 0 0.5em;
            }

            .key-grey::before {
                background-color: rgba(64, 63, 65, 0.5);
            }

            .key-pink::before {
                border: 3px solid rgba(230, 0, 124, 1) !important;
            }
        </style>
        <p class="map-key">Key:
            <span class="key-grey">Previous constituency (grey)</span>
            <span class="key-pink">new constituency (pink)</span>
        </p>

        <div class="ds-card-image" id="boundary_change_area_map" style="height:400px"></div>
    {% endif %}
</div>


<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.2/leaflet.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.2/leaflet.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function () {
        tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data ⓒ <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            subdomains: 'abc'
        });

        map = L.map('boundary_change_area_map', {
            layers: [tiles]
        });

        function onEachFeature(feature, layer) {
            if (feature.properties.current) {
                popup = "New constituency: " + feature.properties.division["name"]
            } else {
                popup = "Old constituency: " + feature.properties.division["name"]
            }
            layer.bindPopup(`${popup}`);
        };

        var geoJsonUrls = [
            'https://s3.eu-west-2.amazonaws.com/ee.public.data/parl_boundary_change_geojson/2010/{{ parl_boundary_changes.current_constituencies_official_identifier }}.geojson',
            'https://s3.eu-west-2.amazonaws.com/ee.public.data/parl_boundary_change_geojson/2024/{{ parl_boundary_changes.new_constituencies_official_identifier }}.geojson'
        ];
        Promise.all(geoJsonUrls.map(url => fetch(url).then(response => response.json())))
            .then(data => {
                var allLayers = L.featureGroup();
                var old_boundary = L.geoJSON(data[0], {
                    style: {
                        color: 'rgba(64, 63, 65, 0.5)',
                        weight: 0,

                        fillOpacity: 1
                    },
                    onEachFeature: onEachFeature
                });
                allLayers.addLayer(old_boundary);
                var new_boundary = L.geoJSON(data[1], {
                    style: {
                        color: 'rgba(230, 0, 124, 1)',
                        fill: false,
                        weight: 3,
                        fillOpacity: 0
                    },
                    onEachFeature: onEachFeature
                });
                allLayers.addLayer(new_boundary);
                allLayers.addTo(map);
                map.fitBounds(allLayers.getBounds());
                var postcodeLocation = {{postcode_location|safe}};
                layer = L.geoJSON(postcodeLocation, {
                    style: {color: 'rgba(230, 0, 124, 0.5)'}
                });
                map.addLayer(layer);
            });


    }
    );
</script>
