<div class="ds-card" id="parl_boundary_changes">
    <div class="ds-card-body">
        {% if parl_boundary_changes.CHANGE_TYPE ==  "BOUNDARY_CHANGE" %}
            <h2 class="ds-h4">Your constituency is changing</h2>
            <p>At the last parliamentary election, your constituency was
                <em>{{ parl_boundary_changes.current_constituencies_name }}</em>.
                <p>At the next general election on the 4th of July, your new constituency
                    have the same name, but the boundary will change.
                </p>
        {% endif %}
        {% if parl_boundary_changes.CHANGE_TYPE ==  "NAME_CHANGE_BOUNDARY_CHANGE" %}
            <h2 class="ds-h4">Your constituency is changing</h2>
            <p>At the last parliamentary election, your constituency was
                <em>{{ parl_boundary_changes.current_constituencies_name }}</em>.
                <p>At the next general election on the 4th of July, constituency boundary will change and
                    the new name will be <em>{{ parl_boundary_changes.new_constituencies_name }}</em>.
                </p>
        {% endif %}
        {% if parl_boundary_changes.CHANGE_TYPE ==  "NAME_CHANGE" %}
            <h2 class="ds-h4">Your constituency name is changing</h2>
            <p>At the last parliamentary election, your constituency was called
                <em>{{ parl_boundary_changes.current_constituencies_name }}</em>.
                <p>At the next general election on the 4th of July, constituency boundary will remain the
                    same, but the new name will be
                    <em>{{ parl_boundary_changes.new_constituencies_name }}</em>.
                </p>
        {% endif %}
        {% if parl_boundary_changes.CHANGE_TYPE ==  "NO_CHANGE" %}
            <h2 class="ds-h4">Your constituency name is changing</h2>
            <p>At the last parliamentary election, your constituency was called
                <em>{{ parl_boundary_changes.current_constituencies_name }}</em>.
                <p>At the next general election on the 4th of July, constituency boundary will remain the
                    same, but the new name will be
                    <em>{{ parl_boundary_changes.new_constituencies_name }}</em>.
                </p>
        {% endif %}


    </div>
    {% if parl_boundary_changes.CHANGE_TYPE !=  "NO_CHANGE" %}
        <style>
            .map-key {
                margin: 0 1.95312rem;
            }
            .map-key span::before {
                content: "";
                display:inline-block;
                height:1em;
                width: 1em;
                border:1px solid black;
                margin:0 0.1em 0 0.5em;
            }
            .key-grey::before {background-color: rgba(64, 63, 65, 0.5);}
            .key-pink::before {background-color: rgba(230, 0, 124, 0.5);}
        </style>
        <p class="map-key">Key:
            <span class="key-grey">Previous constituency (grey)</span>
            <span class="key-pink">new constituency (pink)</span>
        </p>

        <div class="ds-card-image" id="boundary_change_area_map" style="height:400px"></div>
    {% endif %}
</div>


<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.2/leaflet.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.2/leaflet.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function () {
        tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data ⓒ <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            subdomains: 'abc'
        });

        map = L.map('boundary_change_area_map', {
            layers: [tiles]
        });

        function onEachFeature(feature, layer) {
            if (feature.properties.current) {
                popup = "New constituency: " + feature.properties.division["name"]
            } else {
                popup = "Old constituency: " + feature.properties.division["name"]
            }
            layer.bindPopup(`${popup}`);
        };

        var geoJsonUrls = [
            'https://s3.eu-west-2.amazonaws.com/ee.public.data/parl_boundary_change_geojson/2010/{{ parl_boundary_changes.current_constituencies_official_identifier }}.geojson',
            'https://s3.eu-west-2.amazonaws.com/ee.public.data/parl_boundary_change_geojson/2024/{{ parl_boundary_changes.new_constituencies_official_identifier }}.geojson'
        ];
        Promise.all(geoJsonUrls.map(url => fetch(url).then(response => response.json())))
            .then(data => {
                var allLayers = L.featureGroup();
                var old_boundary = L.geoJSON(data[0], {
                    style: {
                        color: 'rgba(64, 63, 65, 0.5)',
                        stroke: false,
                        fillOpacity: 1
                    },
                    onEachFeature: onEachFeature
                });
                allLayers.addLayer(old_boundary);
                var new_boundary = L.geoJSON(data[1], {
                    style: {
                        color: 'rgba(230, 0, 124, 0.5)',
                        stroke: false,
                        fillOpacity: 1
                    },
                    onEachFeature: onEachFeature
                });
                allLayers.addLayer(new_boundary);
                allLayers.addTo(map);
                map.fitBounds(allLayers.getBounds());
                var postcodeLocation = {{postcode_location|safe}};
                layer = L.geoJSON(postcodeLocation, {
                    style: {color: '#00B6FF'}
                });
                map.addLayer(layer);
            });


    }
    );
</script>
