{% load humanize %}
{% load markdown_filter %}
{% load i18n %}

{% if object.statement_to_voters or object.leaflet_set.exists or object.twfy_id %}
    <h2 class="ds-candidate-name ds-h3">
        {% blocktrans with person_name=object.name %}{{ person_name }}'s policies{% endblocktrans %}
    </h2>
    {% if object.statement_to_voters %}
        <h4>{% trans "Statement to voters" %}</h4>
        {% if object.long_statement %}
            <div class="ds-details">
                <blockquote class="ds-stack-smaller">
                    <p>{{ object.statement_intro }}</p>
                    <details>
                        <summary>{% trans "Full statement" %}</summary>
                        <p>{{ object.statement_remainder|linebreaksbr }}</p>
                    </details>
                </blockquote>
            </div>
        {% else %}
            <blockquote>{{ object.statement_to_voters|markdown }}</blockquote>
        {% endif %}
        {% if object.statement_to_voters_last_updated %}
            <p>{% blocktrans with date=object.statement_to_voters_last_updated|naturalday %}This statement was last updated on {{ date }}.{% endblocktrans %}</p>
        {% endif %}
        <p class="small">
            {% blocktrans trimmed with person_name=object.name %}
                This statement was added by {{ person_name }}, their team, or by a
                <a href="https://candidates.democracyclub.org.uk/volunteer/{{ object.ynr_id }}">
                    Democracy Club volunteer</a>, based on
                information published by the candidate elsewhere.
            {% endblocktrans %}</p>
    {% endif %}

    <!-- TWFY  -->
    {% if object.twfy_id %}
        <h4>{% trans "Record in office" %}</h4>
        <p>{% trans "See this candidate's " %}
            <a href="https://www.theyworkforyou.com/mp/{{ object.twfy_id }}">
                {% trans "record on TheyWorkForYou" %}</a> -
            {% trans "their speeches, voting history and more" %}
        </p>
    {% endif %}
{% endif %}
